client_secrets.json
mycreds.txt
Speed_Test_Analysis.ipynb
Speed_Vs_DayOfTheWeek.png
Speed_Vs_HourOfTheDay.png
Speed_Vs_HourOfTheWeek.png
.ipynb_checkpoints/mycreds-checkpoint.txt
.ipynb_checkpoints/Speed_Test_Analysis-checkpoint.ipynb
.ipynb_checkpoints/Speedtest-checkpoint.py
.ipynb_checkpoints/
.idea/
